* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #0b0b0b;
    color: #f5f5f5;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
main {
    flex: 1;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
