#barraLateral{
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background: #000;
    border-right: 2px solid #8a2be2;
    overflow-y: auto;
    z-index: 1050;
}
#contenidoPrincipal{
    margin-left: 200px;
    width: calc(100% - 200px);
}

.seccion{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mi-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100vw;
    margin-left: 0;
    background: #0b0b0b;
    border-top: 1px solid #8a2be2;
    color: #f5f5f5;
}
