@import url('components/_base.css');
@import url('components/_animations.css');
@import url('components/_layout.css');
@import url('components/_responsive.css');
@import url('components/_cards.css');
@import url('components/_components.css');
@import url('components/_backgrounds.css');

.titulo{
    font-family: 'Creepster', cursive;
    color: #e5e5e5;
    text-shadow: 2px 2px 8px #000;
}

#nav-inicio {
    background-image: url('../resource/img/flor.jpg');
}
#nav-sobreMi {
    background-image: url('../img/nav/sobreMi.jpg');
}
#nav-servicios {
    background-image: url('../img/nav/servicios.jpg');
}
#nav-habilidades {
    background-image: url('../img/nav/habilidades.jpg');
}
#nav-educacion {
    background-image: url('../img/nav/educacion.jpg');
}
#nav-certificados {
    background-image: url('../img/nav/certificados.jpg');
}
#nav-experiencia {
    background-image: url('../img/nav/experiencia.jpg');
}
#nav-referencias {
    background-image: url('../img/nav/referencias.jpg');
}
#nav-portafolio {
    background-image: url('../img/nav/portafolio.jpg');
}
#nav-contacto {
    background-image: url('../img/nav/contacto.jpg');
}
